{% extends 'base.html' %}
{% load staticfiles i18n %}
{% load oldFilter %}


{% block title %}User List{% endblock %}

{% block main %}  

	<div class="page-header">
		<h1>{% trans 'User List' %}</h1>
	</div>

	<!--<button type = "button" onclick=" location.href='{% url 'add' %}' " class = "btn btn-primary">Add User</button>  -->

	<button type = "button" onclick=" location.href='{% url 'downloadUserlist' %}' " class = "btn btn-primary">Download Userlist</button>

	{% if list %}
<!--	<div class="tablView" style="overflow:scroll; height:400px;overflow:auto"> -->
		<table class="table table-striped"s>
			
			<tr>
				<th>UserName</th>
				<th>FirstName</th>
				<th>LastName</th>
				<th>Birthday</th>
				<th>Email</th>
				<th>Eligible</th>
				<th>RandomId</th>
				<th>BizzFuzz</th>

			<!--	<th> Edit </th>
				<th> Delete </th>  -->
			</tr>
			
			{% for user in list %}
			<tr>
				<td>{{user.username}}</td>
				<td>{{user.first_name}}</td>
				<td>{{user.last_name}}</td>
				<td>{{user.birthday|date:'m/d/Y'}}</td> 
				<td>{{user.email}}</td>
				<td>{{user.birthday | oldRange}}</td>
				<td>{{user.randomId}}</td>
				<td>{{user.randomId | checkBizzFuzz}}</td>
				
			<!--	<td><button type="submit" onclick=" location.href = '{% url 'edit' user.id %}' " class="btn btn-primary">Edit</button></td>
				<td><button type="button" onclick="location.href = '{% url 'delete' user.username %}' " class="btn btn-primary">Delete</button></td> -->
			</tr>            
			{% endfor %}
			
		</table>
	<!--</div> -->

	{% else %}
	<h2>There is not user data now</h2>
	{% endif %}
	<div class="buttonView">

		
		

	</div>


{% endblock main %}



